.home-layout {
  display: grid;
  grid-template-columns: max(20%, 300px) 1fr;
  grid-template-areas: "header header" "nav main";
}

header {
  grid-area: header;
  border-bottom: 1px solid lightgray;
}

nav {
  border-right: 1px solid hwb(233 15% 30%);
  grid-area: nav;
}

hr {
  margin: 2rem 0;
}

main {
  border-bottom: 1px solid lightgray;
  grid-area: main;
}

.tab-link {
  position: relative;
}

.tab-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: calc(var(--space-sm) / 4 * 3);
  left: var(--space-md);

  height: 2px;
  background-color: var(--accent-color);
  width: calc(100% - var(--space-md) * 2);

  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 300ms;
  transform-origin: left;
}

.tab-link:hover::after,
.tab-link.active::after {
  transform: scale(1);
}
