@layer utility {
    @mixin gap($value) {
        .gap-row-#{$value} {
            row-gap: var(--spacing-#{$value});
        }
        .gap-column-#{$value} {
            column-gap: var(--spacing-#{$value});
        }
        .gap-#{$value} {
            gap: var(--spacing-#{$value});
        }
    }

    .hidden {
        display: none;
    }
    .display-unset {
        display: unset;
    }

    $displays: grid, inline-grid, flex, inline-flex, block, inline-block, inline;

    @each $display in $displays {
        .#{$display} {
            display: #{$display};
        }
    }

    @for $i from 1 through 10 {
        @include gap($i);
    }

    @for $i from 1 through 12 {
        .grid-columns-#{$i} {
            grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
        }
    }

    .self-center {
        place-self: center center;
    }

    .content-center {
        place-content: center center;
    }

    .flex-row {
        flex-direction: row;
    }
    .flex-column {
        flex-direction: column;
    }
    .flex-row-reverse {
        flex-direction: row-reverse;
    }
    .flex-column-reverse {
        flex-direction: column-reverse;
    }
}
