$timings: 1, 2, 3, 5, 10;

@each $timing in $timings {
  .duration-#{$timing * 100} {
    transition-duration: #{$timing * 100};
  }

  .delay-#{$timing * 100} {
    transition-delay: #{$timing * 100};
  }
}

$easings: ease-in, ease-in-out, ease-out, linear, ease;

@each $easing in $easings {
  .#{$easing} {
    transition-timing-function: #{$easing};
  }
}

$directions: "in", "out";

@each $direction in $directions {
  .transition-color-#{$direction} {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    @extend .duration-300;
    @extend .ease-#{$direction};
  }
  .transition-transform-#{$direction} {
    transition-property: transform;
    @extend .duration-300;
    @extend .ease-#{$direction};
  }
  .transition-opacity-#{$direction} {
    transition-property: transform;
    @extend .duration-300;
    @extend .ease-#{$direction};
  }
}
